CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Dockerfile
docker-compose.yml
.dockerignore
.gitpod.Dockerfile
.gitpod.yml
CMakeLists.txt
.data
components
layouts
middleware
nginx
pages
plugins
